08_Methodology/site/n8n_workflows/WF-5_Mechanical-Gate.json
{
  "name": "WF-5 Mechanical-Gate",
  "nodes": [
    {
      "parameters": {},
      "id": "t",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{coverage:0.88,mutation:0.79}}];"
      },
      "id": "n2",
      "name": "Run tests stub",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.coverage }}",
              "rightValue": 0.85,
              "operator": {
                "type": "number",
                "operation": "largerEqual"
              }
            }
          ]
        }
      },
      "id": "n3",
      "name": "coverage>=0.85",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.mutation }}",
              "rightValue": 0.75,
              "operator": {
                "type": "number",
                "operation": "largerEqual"
              }
            }
          ]
        }
      },
      "id": "n4",
      "name": "mutation>=0.75",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        220
      ]
    },
    {
      "parameters": {},
      "id": "n5",
      "name": "PASS release",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        160
      ]
    },
    {
      "parameters": {},
      "id": "n6",
      "name": "FAIL back to PG",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        380
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Run tests stub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run tests stub": {
      "main": [
        [
          {
            "node": "coverage>=0.85",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coverage>=0.85": {
      "main": [
        [
          {
            "node": "mutation>=0.75",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FAIL back to PG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mutation>=0.75": {
      "main": [
        [
          {
            "node": "PASS release",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FAIL back to PG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "teaching_note": "mechanical gate: coverage+mutation thresholds. Real: Execute Command pytest/mutmut."
  }
}